

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#" >Laborde Parodi Alejandro</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" (click)="onClick('peliculaListado')"  >Peliculas Listado </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" (click)="onClick('actorListado')" >Actores Listado</a>
            </li>
          <li class="nav-item">
              <a class="nav-link" (click)="onClick('paisesListado')" >Paises Listado</a>
            </li>
        <li class="nav-item">
          <a class="nav-link" (click)="onClick('altaPelicula')" >Alta Pelicula</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="onClick('busqueda')" >Busqueda</a>
        </li>
        
      </ul>
    </div>
  </nav>