
<app-navbar></app-navbar>
<div class="container" style="text-align: justify;">

<form [formGroup]="formulario" >
  
      Nombre Pelicula:
      <input class="form-control" type="text" placeholder="name" formControlName="Nombre">
      <br>
       Tipo:
       <select class="form-control" formControlName="tipo">
        <option>terror</option>
        <option>amor</option>
        <option>comedia</option>
        <option>otro</option>
      </select>
      Cantidad Publico:
      <input class="form-control" type="number" formControlName="cantidadPublico">
      <br>
      Fecha Estreno:
      <input class="form-control" type="date" formControlName="fechaEstreno">
    <br>

      Actor Seleccionado
      <p *ngIf="actorPeli">{{actorPeli.Nombre}} {{actorPeli.apellido}}</p>
      <p *ngIf="!actorPeli">Falta completar un actor</p>

</form>

  <br>
  <app-tabla-actor [actores]="this.actores" (actorSeleccionado)="actorSeleccionado($event)" ></app-tabla-actor>
  <br>
  <button type="button" class="btn btn-success btn-block" [disabled]="!formulario.valid" (click)="onSubmit()" [disabled]="!formulario">Dar de alta</button>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>